<div class="flex flex-row w-full h-full container" [ngClass]="{'phone': isPhonePortrait}">
    <div class="flex flex-column justify-content-start align-items-start align-content-center w-7 h-auto">
        <div class="flex flex-column w-11 h-auto max-h-full gap-5 overflow-auto posts">
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
        </div>
    </div>
    <div class="flex flex-column justify-content-start align-items-center w-5 form">
        <div class="flex flex-column w-full overflow-hidden posts">
            <div class="flex justify-content-center align-items-start title">
                <span>TALÁLTAM EGY KUTYÁT</span>
            </div>
            <div class="flex justify-content-center align-items-center w-full">
                <app-form></app-form>
            </div>
        </div>
    </div>
</div>
