<div class="w-full h-full container">
    <mat-toolbar color="primary">
        <div class="title">
            <img src="../assets/logo.png" alt="logo">
            <span>Kutyakompassz</span>
        </div>
        <div class="buttons">
            <button mat-button routerLink="/home">Kezdőlap</button>
            <button mat-button routerLink="/found">Kutyát találtam!</button>
            <button mat-button routerLink="/search">Kutyát keresek!</button>
            <button mat-button routerLink="/adoptation">Ideiglenes befogadóink</button>
        </div>
    </mat-toolbar>
</div>