<div class="grid justify-content-center w-full">
    <div class="flex flex-column align-content-center align-items-center justify-content-center w-screen header">
        <app-header></app-header>
    </div>
    <div class="flex flex-column flex-wrap align-content-center align-items-center justify-content-center home">
        <div>
            <router-outlet></router-outlet>        
        </div>
    </div>
    <div class="flex flex-column align-content-center align-items-center justify-content-center w-screen footer">
        <app-footer></app-footer>
    </div>
</div>