<div class="flex w-full h-full container">
    <div class="flex w-full">
        <div class="w-8 desc"></div>
        <div class="w-4 image"></div>
    </div>
    <div class="flex w-full">
        <div class="w-4 map"></div>
        <div class="w-8 help"></div>
    </div>
    <div class="flex w-full slider">
        <div>
            <ng-image-slider
                [infinite]="false"
                [autoSlide]="1"
                [imageSize]="{width: '15%', height: '40%'}"
                slideImage="1" 
                [images]="imgCollection"
                #nav>
            </ng-image-slider>
        </div>
    </div>
</div>
